{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Registro de Usuario</div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                {{ form.tipo_identificacion }}
              </div>
              <div class="col-md-6">
                <label>Identificacion *</label>
                {{ form.username }}
              </div>
            </div>
          </div>
          <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label>Contraseña *</label>
                  {{ form.password1 }}
                </div>
                <div class="col-md-6">
                  <label>Confirmar contraseña *</label>
                  {{ form.password2 }}
                </div>
              </div>
            </div>
          <div class="form-group">
            <label>Primer nombre *</label>
            {{ form.first_name }}
          </div>
          <div class="form-group">
            <label>Primer apellido *</label>
            {{ form.last_name }}
          </div>
          <div class="form-group">
            <label>Direccion *</label>
            {{ form.direccion }}
          </div>
          <div class="form-group">
              <label>Telefono fijo *</label>
              {{ form.telefono }}
          </div>
          <div class="form-group">
              <label>Telefono celular *</label>
              {{ form.celular }}
          </div>
          <div class="form-group">
              <label>Fecha de nacimiento *</label>
              {{ form.fecha_nacimiento }}
          </div>
          <div class="form-group">
            <label>Correo electrónico *</label>
            {{ form.email }}
          </div>
           <div class="form-group">
            <label>Nacionalidad *</label>
            {{ form.nacionalidad }}
          </div>
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="card border-danger mb-3">
                          <div class="card-body text-danger">
                              <p class="card-text">
                                  {{ error|escape }}
                              </p>
                          </div>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="card border-danger mb-3">
                      <div class="card-body text-danger">
                          <p class="card-text">
                              {{ error|escape }}
                          </p>
                      </div>
                  </div>
              {% endfor %}
          {% endif %}
          <button type="submit" class="btn btn-warning btn-block">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>



{% endblock content %}
