<html>
  <head>
     <title>Ingresar usuario</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <div class="container"><br>
      <center>
        <h2>Igresar Usuario</h2>
      </center>
    </div>

    <div class="container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <form  action="" method="post" role="form">
        <div class="form-group">
        <label for="name">Tipo ID:</label>
          <input type="text" class="form-control" id="name" name="prim_nom" placeholder="obligatorio">
            <br>
            <label for="name">ID:</label>
          <input type="number" class="form-control" id="name" name="prim_nom" placeholder="obligatorio">
            <br>
          <label for="name">Primer Nombre:</label>
          <input type="text" class="form-control" id="name" name="prim_nom" placeholder="obligatorio">
            <br>
          <label for="surname">Segundo Nombre:</label>
          <input type="text" class="form-control" id="surname" name="seg_nombre" placeholder="opcional">
	    <br>
	  <label for="email">Primer Apellido</label>
	  <input type="text" class="form-control"  name="prim_apell" placeholder="obligatorio">
	    <br>
	  <label for="password">Segundo Apellido</label>
	  <input type="password" class="form-control"  name="seg_apell" placeholder="obligatorio">
	  <label for="name">Direccion: </label>
          <input type="text" class="form-control"  name="direccion" placeholder="obligatorio">
            <br>
	  <label for="name">telefono fijo: </label>
          <input type="number" class="form-control"  name="tel_fijo" placeholder="obligatorio">
            <br>
        <label for="name">telefono celular: </label>
          <input type="number" class="form-control"  name="tel_cel" placeholder="obligatorio">
            <br>
            <label for="name">Fecha de nacimiento: </label>
          <input type="date" class="form-control"  name="fecha_nac" placeholder="obligatorio">
            <br>
           <label for="name">correo: </label>
          <input type="text" class="form-control"  name="correo" placeholder="opcional">
            <br>
           <label for="name">nacionalidad: </label>
          <input type="text" class="form-control"  name="nacionalidad " placeholder="obligatorio">
            <br>
	</div>
        <br>													   
        <center>
          <button type="submit" class="btn btn-success">Crear</button>
        </center>
      </form>
      <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
            {% if "Error" in message[1]: %}
                <div class="alert alert-danger">
                <strong>Error: </strong> {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <br>
    </div>
    </div>
  </body>
</html>