{% extends 'base.html' %}

{% block title %}Tarifas{% endblock title %}

{% block content %}
<div class="container pt-5 mt-3">
    <table class="table table-secondary table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Año</th>
                <th scope="col">Tipo vehiculo</th>
                <th scope="col">Precio por hora</th>
            </tr>
        </thead>
        <tbody>
            {% for ingresado in ingresados_list %}
                <tr>
                    <th scope="row">{{ ingresado.anno }}</th>
                    <td>{{ ingresado.tipo_vehiculo }}</td>
                    <td>{{ ingresado.por_hora }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}