<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Registro Usuario</title>

  <!-- Custom fonts for this template-->
  {% load static %}
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Registro de Usuario</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                {{ form.tipo_identificacion }}
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  {{ form.username }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              {{ form.name1 }}
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
                {{ form.name2 }}
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
                {{ form.apellido1 }}
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
                {{ form.apellido2 }}
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
                {{ form.direccion }}
            </div>
          </div>
          <div class="col-md-6">
                <div class="form-label-group">
                    {{ form.telefono }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                    {{ form.celular }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                    {{ form.fecha_nacimiento }}
                </div>
              </div>
            </div>
            <div class="form-group">
            <div class="form-label-group">
              {{ form.email }}
            </div>
          </div>
           <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="nac" class="form-control"  required="required">
              <label for="nac">Nacionalidad</label>
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="login.html">Registrar</a>
          </div>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login.html">Iniciar Sesión</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

</body>

</html>
