<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Registro Usuario</title>

  <!-- Custom fonts for this template-->
  {% load static %}
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Registro de Usuario</div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                {{ form.tipo_identificacion }}
              </div>
              <div class="col-md-6">
                <label>Identificacion *</label>
                {{ form.username }}
              </div>
            </div>
          </div>
          <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label>Contraseña *</label>
                  {{ form.password1 }}
                </div>
                <div class="col-md-6">
                  <label>Confirmar contraseña *</label>
                  {{ form.password2 }}
                </div>
              </div>
            </div>
          <div class="form-group">
            <label>Primer nombre *</label>
            {{ form.nombre1 }}
          </div>
          <div class="form-group">
            <label>Segundo nombre</label>
            {{ form.nombre2 }}
          </div>
          <div class="form-group">
            <label>Primer apellido *</label>
            {{ form.apellido1 }}
          </div>
          <div class="form-group">
            <label>Segundo apellido *</label>
            {{ form.apellido2 }}
          </div>
          <div class="form-group">
            <label>Direccion *</label>
            {{ form.direccion }}
          </div>
          <div class="col-md-6">
                <label>Telefono fijo *</label>
                {{ form.telefono }}
              </div>
              <div class="col-md-6">
                <label>Telefono celular *</label>
                {{ form.celular }}
              </div>
              <div class="col-md-6">
                <label>Fecha de nacimiento *</label>
                {{ form.fecha_nacimiento }}
              </div>
            </div>
            <div class="form-group">
            <label>Correo electrónico *</label>
            {{ form.email }}
          </div>
           <div class="form-group">
            <label>Nacionalidad *</label>
            {{ form.nacionalidad }}
          </div>
          <button type="submit" class="btn btn-primary btn-block">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

</body>

</html>
